__pycache__/
.gitgnore
captcha.jpg
/datasets_color_ok
/datasets_ok
/final
log.txt
/.idea
/venv
**.onnx
**.log
**.png
**.zip
gen.py
gen2.py
**.pt
data_mnist_pytorch/**
**.csv
/datasets_final_ok
/test_final
/model
/log
